@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 173.41 80.39% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 173.41 80.39% 40%;
    --radius: 1;
  }

  .dark {
    --background: 228.57 84% 4.9%;
    --foreground: 0 0% 98.04%;
    --card: 222.22 47.37% 11.18%;
    --card-foreground: 0 0% 98.04%;
    --popover: 222.22 47.37% 11.18%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 173.41 80.39% 40%;
    --primary-foreground: 166.15 76.47% 96.67%;
    --secondary: 215.29 25% 26.67%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 217.24 32.58% 17.45%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 217.24 32.58% 17.45%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 217.24 32.58% 17.45%;
    --input: 217.24 32.58% 17.45%;
    --ring: 173.41 80.39% 40%;
    --radius: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
